html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

.main {
  display: grid;
  margin-left: 182px;
}

.quizzes-title-row {
  display: flex;
  width: 1020px;
  /* margin-left: 160px;   */
  padding-top: 120px;
  padding-bottom: 10px;
  font-size: 2.4rem;
}

.menu-header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 28px 28px;
  border-bottom: 1px solid #000;
  background: #6964a1;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  margin-bottom: 30px;
  position: fixed;
}

/* .game-header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 140px;
  margin-bottom: 40px;
} */

.game-body {
  background: #6964a1;
}

.gameplay-grid {
  display: grid;
}

.game {
  display: grid;
  width: 100%;
  height: 400px;
  justify-content: center;
  padding-top: 140px;
}

.question-image {
  margin-bottom: 20px;
}

.level-question {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  max-width: 800px;
}

.option-section {
  display: grid;
}

.option-buttons {
  display: flex;
  gap: 20px;
}

.option {
  background-color: #c848f4;
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 15px 60px;
}

button {
  display: flex;
  width: 50px;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 28px;
  border: 1px solid #000;
  background: #6964a1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.robot-score-board {
  display: flex;
}

.robot-score {
  display: flex;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

.player-score-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-score {
  display: flex;
  width: 200px;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

.game-score-board {
  display: flex;
  background-color: #ffffff;
  border-radius: 28px;
}

.game-score {
  color: #000;
}

.open-level-button {
  width: 240px;
  height: 210px;
  background-color: #6964a1;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: -10px;
}

.locked-level-button {
  width: 240px;
  height: 210px;
  background-color: #bdbdbd;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: -10px;
}

.menu-row1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-row2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-row1,
p {
  font-size: 2.4rem;
}

.menu-row2,
p {
  font-size: 2.4rem;
}

.reset-column {
  flex-direction: column;
  display: flex;
  align-items: end;
}

.reset-text {
  font-size: 1.6rem;
}

.next-button {
  background-color: #dbf301;
  font-size: 1.8rem;
  width: 300px;
  height: 57px;
}

/* .alert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 500px;
  height: 700px;
  background-color: #ffffff;
}

.alert-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
} */
